<!-- INCLUDE overall_header.html -->

<!-- IF S_SEARCH_USER_VIDEO -->
<h2>{L_MY_VIDEOS}</h2>

<p><a class="{S_CONTENT_FLOW_BEGIN}" href="{U_VIDEO_SEARCH}" title="{L_RETURN_TO_SEARCH_ADV}">{L_RETURN_TO_SEARCH_ADV}</a></p>

<!-- IF PAGINATION or TOTAL_VIDEOS -->
	<div class="topic-actions">
		<div class="rightside pagination">
			{TOTAL_VIDEOS}
			<!-- IF PAGINATION --> &bull; <a href="#" onclick="jumpto(); return false;" title="{L_JUMP_TO_PAGE}">{PAGE_NUMBER}</a> &bull; <span>{PAGINATION}</span><!-- ELSE --> &bull; {PAGE_NUMBER}<!-- ENDIF -->
		</div>
	</div>
<!-- ENDIF -->

<!-- IF .video -->
<div class="panel bg3">
	<div class="inner"><span class="corners-top"><span></span></span>
		<!-- BEGIN video -->
			<div id="video{video.VIDEO_ID}" class="video_item<!-- IF video.S_ROW_COUNT is even --> column1<!-- ELSE --> column2<!-- ENDIF -->">
				<a href="{video.U_VIEW_VIDEO}" title="{video.VIDEO_TITLE}"><img src="{video.S_VIDEO_THUMBNAIL}" alt="{video.VIDEO_TITLE}" /></a>
				<h3 class="center"><a href="{video.U_VIEW_VIDEO}" title="{video.VIDEO_TITLE}">{video.VIDEO_TITLE}</a></h3>
				<div class="content">
					{L_VIDEO_AUTHOR}: {video.USERNAME} <br />
					{L_VIDEO_DATE}: {video.VIDEO_TIME} <br />
					{L_VIDEO_VIEWS}: {video.VIDEO_VIEWS}
				</div>
			</div>
		<!-- END video -->

	<span class="corners-bottom"><span></span></span></div>
</div>
	<!-- ELSE -->
		<div class="panel">
			<div class="inner"><span class="corners-top"><span></span></span>
			<strong>{L_NO_USER_VIDEOS}</strong>
			<span class="corners-bottom"><span></span></span></div>
		</div>
	<!-- ENDIF -->

<!-- IF PAGINATION or TOTAL_VIDEOS -->
	<div class="topic-actions">
		<div class="rightside pagination">
			{TOTAL_VIDEOS}
			<!-- IF PAGINATION --> &bull; <a href="#" onclick="jumpto(); return false;" title="{L_JUMP_TO_PAGE}">{PAGE_NUMBER}</a> &bull; <span>{PAGINATION}</span><!-- ELSE --> &bull; {PAGE_NUMBER}<!-- ENDIF -->
		</div>
	</div>
<!-- ENDIF -->

<p></p><p><a href="{U_VIDEO}" class="left-box {S_CONTENT_FLOW_BEGIN}" accesskey="r">{L_RETURN_TO} {L_VIDEO_INDEX}</a></p>

<br class="clear" />
<!-- ENDIF -->

<!-- INCLUDE overall_footer.html -->